<p-toolbar [style]="{ height: '100px' }">
    <div class="p-toolbar-group-start">
        <img src="assets/icons/icon-72x72.png" alt="logo" />
    </div>
    <div class="p-toolbar-group-center">
        {{ title }}
    </div>
    <div class="p-toolbar-group-end">
        <p-sidebar [(visible)]="cartVisible" [position]="'right'">
          <h3>Panier</h3>
          <div class="cart-items">
            @for (item of cartItems; track item.cart_item_id) {
              <div class="cart-item">
                <div class="grid">
                  <p-button severity="success" icon="pi pi-plus" [text]="true" class="p-button-text col-2" (onClick)="increaseQuantity(item)"></p-button>
                  <p class="col-1 ml-1">{{ item.quantity }}</p>
                  <p-button severity="danger" icon="pi pi-trash" [text]="true" class="p-button-text col-2" (onClick)="decreaseQuantity(item.cart_item_id)"></p-button>
                  <p class="col">
                    {{ item.name }} - {{ item.price | currency:'EUR':'symbol' }}
                  </p>
                </div>
              </div>
            } @empty {
              <p class="text-500">Votre panier est vide.</p>
            }
          </div>
          <button class="checkout-btn">Passer à la caisse</button>
        </p-sidebar>
        
        <i class="pi pi-shopping-cart cursor-pointer"
            role="button" tabindex="0"
            (click)="cartVisible = true"
            (keydown.enter)="cartVisible = true"
            aria-label="Ouvrir le panier"
            style="font-size: 2rem">
        </i>
    </div>
</p-toolbar>